/* PROPRIEDADES CSS 
 
position: static / absolute / fixed; 

z-index: 1; -> prioriza elemento

justify-content -> flex-start (default) flex-end center space-between space-around space-evenly >> horizontal
align-items -> flex-start flex-end center baseline stretch (default) - vertical
flex-direction -> row (default) row-reverse column column-reverse 
order -> <integer> (... -1, 0 (default), 1, ...)
align-self -> flex-start flex-end center baseline stretch
flex-wrap -> nowrap (default) wrap wrap-reverse
flex-flow -> <flex-direction> <flex-wrap>
align-content -> flex-start flex-end center space-between space-around space-evenly stretch (default)

*/
:root {
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

a {
  text-decoration: none;
}


/* Backgrounds */
.black-bg {
  background-image: url(../img/black-bg.png);
  background-size: cover;
  background-position: center center;
  color: white;
}

.white-bg {
  background-image: url(../img/white-bg.png);
  color: black;
}

.black-bg a {
  color: white;
}

.white-bg a {
  color: black;
}

.bg-logo {
  width: 20rem;
  height: 15rem;
  background-color: #212F3C ;
  border-radius: 2rem;
}

/* Icones */
.icons img {
  width: 5rem;
  height: 5rem;
}


/* Conteúdo Principal */
.main-content {
  max-width: 70rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}


/* Menu de Navegação */
.menu {
  display: flex;
  justify-content: center;

}

.nav-content {
  width: 50%;
  padding-bottom: 0;
}


.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu ul li a {
  display: block;
  padding: 0.5rem;
  /* color: white */
}