<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styles CSS -->
  <link rel="stylesheet" href="../static/css/styles.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Meu Portfólio - Contato</title>
</head>
<body class="white-bg">
  <!-- Cabeçalho -> Menu de Navegação -->
  <aside id="nav">
    <div class="nav-content">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- Pagina de Contato -->
  <section id="contact">
    <div class="contact-container">
      <div class="contact-text">
        <h5>Contato</h5>
        <p>Sinta-se à vontade para entrar em contato comigo através das opções disponíveis, e retornarei o mais breve possível.
        </p>
      </div>
      <div class="contact-template">
        <!-- Formulário para contato/orçamento  -->
        <div class="contact-form">
          <form id="form">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="message">Mensagem:</label>
            <textarea cols="25"  maxlength="150" name="message" id="message" required></textarea>

            <button type="submit" name="submit" id="submit" onclick="send()">Enviar</button>
          </form>
        </div>

        <div class="line-style">
          <div class="line"></div>
        </div>

        <!-- Links para contato -->
        <div class="contact-icons">
          <a href="https://www.linkedin.com/in/kaue-oliveira25/" target="_blank">
            <img src="../img/logo-linkedin.svg" alt="logo linkedin">
          </a>
          
          <a href="https://wa.me/+5511970760911/" target="_blank">
            <img src="../img/logo-whatsapp.svg" alt="logo whatsapp">
          </a>

          <a href="https://criarmeulink.com.br/u/1720891022" target="_blank">
            <img src="../img/mail-outline.svg" alt="logo email">
          </a>
          
        </div>
      </div>
    </div>
  </section> 
</body>
</html>