<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styles CSS -->
  <link rel="stylesheet" href="../static/css/styles.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Meu Portfólio - Projetos</title>
</head>
<body class="black-bg">
  <!-- Cabeçalho -> Menu de Navegação -->
  <aside id="nav">
    <div class="nav-content">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </aside>
  
  <!-- Tabela com fotos e links dos meus projetos -->
  <section id="projects">
    <div class="projects-container icons">
      <a href="https://github.com/kauedev24/kauedev24.github.io" target="_blank">
        <div class="items-container">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" alt="logo html">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" alt="logo css">
          <p>Landing Page - HTML + CSS</p>
        </div>
      </a>
      <a href="https://github.com/kauedev24/Python-BackEnd" target="_blank">
        <div class="items-container">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" alt="logo python">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" alt="logo mysql">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg" alt="logo docker">
          <p>CRUD - Python + MySQL</p>
        </div>
      </a>  
      <a href="https://github.com/kauedev24/ProjetoCalculadora" target="_blank">
        <div class="items-container">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" alt="logo python">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/qt/qt-original.svg" alt="logo qt">
          <p>Calculadora App - Python + PySide6(QT)</p>
        </div>
      </a>
      <a href="https://github.com/kauedev24/TabelaFIPE" target="_blank">
        <div class="items-container">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" alt="logo python">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg" alt="logo selenium">
          <p>WebScrapping - Python + Selenium</p>
        </div>
      </a>
    </div>
  </section>
</body>
</html>